body{
    padding: 0;
    margin: 0;
    background-color: black;
}
h1{
    text-align: center;
    font-size: 40px;
    font-weight: 100px;
    background-color: rgb(4, 161, 109);
    padding: 10px;
    margin: auto;
    
    
}
.nav{
    margin: auto;
    margin-top: 0;
}
.container{
    width: 400px;
    background-color: beige;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 20px auto;
    height: 500px;
    box-shadow: 10px 10px 10px white;
   
}
.image{
    width:200px;
    height: 300px;
    margin-left: 100px;
}
.heading{
    text-align: center;
    font-weight: 50px;
    margin-top: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.paragraph{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
}
.footer p{
    background-color:rgb(4, 161, 109) ;
    margin: auto;
    margin-bottom: auto;
padding: 10px;
text-align: center;
font-weight: 50px;
}
